.body {
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.foot {
    background-color: rgb(0, 0, 0);
    color: #adadad;
    height: 200px;
    display: flex;
    padding: 50px;
    line-height: 25px;
    
}
.white {
    color: white;
    padding-bottom: 25px;
}

.two {
    padding-left: 300px;
}
.three {
    padding-left: 150px;
}
.four {
    padding-left: 50px;
}
.five {
    padding-left: 200px;
}



.a {
    text-decoration: none;
    color: black;
}
.ahome {
    text-decoration: none;
    color: #00ced1;
}
.a:active {
    color: black;
}

.gip {
    text-align: right;
    padding: 40px 100px 0px 0px;
    word-spacing: 30px;
    height: 70px;
    font-weight: bold;
}
.main {
    
    background: #e2dfdf;
    
}

.info {
    padding: 100px;
    display: flex;
    
   
}
.info-text p{
    color:#717579;
    word-spacing: 7px;
    line-height: 20px;
    font-size: large;
}
.ctn {
    color: black;
    font-size: 20px;
    font-weight: 900;
}
.inp {
    display: flex;
   
  
}
.asd {
    padding-bottom: 20px;
}
.asda {
    padding-bottom: 20px;
}
.asd input {
    padding-left: 10px;
    height: 40px;
    font-size: 17px;
    border: none;
    color: black;
    outline:none;
    font-family: inherit;
    
}
.asda input {
    font-family: inherit;
    width: 100%;
    padding-left: 10px;
    height: 40px;
    font-size: 17px;
    border: none;
    color: black;
    outline: none;
}

.area textarea {
    resize: none;
    width: 100%;
    height: 200px;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 10px;
    font-family: inherit;
}

.inp > .asd {
    width: 50%;
    
}

.inp > .asd:first-child {
    margin-right: 20px;
}

.dva {
    padding-left: 200px;
    
}
.btn {
    margin-top: 30px;
    width: 200px;
    height: 60px;
    color: whitesmoke;
    background-color: #00ced1;
    border: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}
.maps {
    width: 1000px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}


.gipp {
    position: absolute;
    top: 40px;
    left: 100px;
}