
.body {
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.a {
    text-decoration: none;
    color: black;
}
.ahome {
    text-decoration: none;
    color: #00ced1;
}
.a:active {
    color: black;
}

.gip {
    text-align: right;
    padding: 40px 100px 0px 0px;
    word-spacing: 30px;
    height: 70px;
    font-weight: bold;
}

.zag {
    height: 300px;
    background-color: rgb(243, 236, 236);
    text-align: center;
    padding-top: 100px;
}
.p {
    color: #708090;
    line-height: 25px;
    font-size: 15px;
    font-weight: 300;
    font-family: inherit;
}

.foot {
    background-color: rgb(0, 0, 0);
    color: #adadad;
    height: 200px;
    display: flex;
    padding: 50px;
    line-height: 25px;
}
.white {
    color: white;
    padding-bottom: 25px;
}

.two {
    padding-left: 300px;
}
.three {
    padding-left: 150px;
}
.four {
    padding-left: 50px;
}
.five {
    padding-left: 200px;
}


.perviy, .vtoroy, .tretiy {
    display: flex;
    border: 1px solid black;
    
    
}

.picture:hover {
    opacity: 0.5;
}

.picture {
    display: flex;
    width: 100%;
    

}
.vtoroy {
    height: 273px;
}

.gipp {
    position: absolute;
    top: 40px;
    left: 100px;
}